%animacion-1 {
    width: 100%;
    transition: all 0.8s;
 }


 %flex-box-tienda {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
 }
