$color-principal: black;

$color-secundario: white;

$ancho: 100%;

$color-hover: rgba(204, 187, 187, 0.493);

$font-size-encabezado: 100px;

$font-family-encabezado: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$background-footer:  linear-gradient(black, gray);