@import "../base/variables";
/*carta*/

.titulos {
    font-size: 3rem;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 1rem;
    display: grid;
}

.conten-carta {
    width: $ancho;
    border: solid white;
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;
    
  
   
    .cabeza-tabla {
        
        color: $color-secundario;
        font-size: 2rem;
      
     
       

    }

    .productos-1 {
        color: $color-secundario;
        font-size: 2rem;
       
        
      
    }

}