@import "../base/variables";
@import "../base/extends";

/*header*/


header {
    background-color: black;
    width: $ancho;
    @extend %display-flex-center;
    
    .encabezado {
        color: $color-secundario;
        font-size: $font-size-encabezado;
        font-family: $font-family-encabezado;
     
        
    }
}

/*fin header*/