@import "../base/variables";

/*media queries menu*/

/*Celular*/
@media screen and (max-width: 425px) {

    .encabezado {
        display: none;
    }
    header {
        display: none;
    }

    
    
    .menu-principal {
        display: none;
    }

    .menu-navegable {
        display: none;
    }
    
    iframe {
        display: none;
    
    }

    .imagenes-carta {
        display: none;
    }

    .contacto {
        padding: 1rem;
    }
    .imagenes-carta {
        display: none;
    }
     
    .conten-carta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cabeza-tabla {
            display: none;
        }

        .productos-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: solid white;
            width: $ancho;
        }
    }


    .remeras, .cerveza-tienda, .gorras {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;

    
    }

    .telefono {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-principal;
    }

}

/*tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {

    
    .encabezado {
        display: none;
    }
    header {
        display: none;
    }

    .menu-principal {
        display: none;
    }

    .menu-navegable {
        display: none;
    }
    
    iframe {
        display: none;
    }

    .imagenes-carta {
        display: none;
    }

       
    .conten-carta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cabeza-tabla {
            display: none;
        }

        .productos-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: solid white;
            width: $ancho;
        }
    }

    .remeras, .cerveza-tienda, .gorras {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
/*desktop*/
@media screen and (min-width: 769px) {
    .menu-mobile {
        display: none;
    }

}

.mobile-font {
    font-family: $font-family-encabezado;
    font-size: 2rem;
}

